<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourname.sonic2"
    android:versionCode="1"
    android:versionName="1.0">

  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33"/>
  <uses-feature android:glEsVersion="0x00020000"/>
  <uses-permission android:name="android.permission.VIBRATE"/>

  <application
      android:label="Sonic the Hedgehog 2"
      android:icon="@mipmap/ic_launcher"
      android:hardwareAccelerated="true">

    <!-- SDL2 launches via SDLActivity; our native lib is loaded automatically -->
    <activity
        android:name="org.libsdl.app.SDLActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <!-- Tell SDLActivity which .so to load -->
      <meta-data android:name="SDL_APP_NAME" android:value="sonic2"/>
    </activity>
  </application>
</manifest>
